.logomisi{
    margin-top: 0px;
    
    
}


.container{
    text-align: justify;
    

}
.nosotros{
    margin-top: 20px;

}

.mision{

    margin-top: 20px;
}





.vision{

    margin-top: 50px;
}

.infoempresa{
    margin-top: 50PX;


}

.confianza {
    margin-top: 30px;
    
}


b{
    color: white;
}

.pasion{

    margin-top: 30px;
    text-align: justify;
}

.meta{
    margin-top: 30px;

}












